// Fonts
@import url('https://fonts.bunny.net/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import 'bootstrap/scss/bootstrap';

#app {
    width: 80%;
    margin: 0 auto;
}
.body {
    font-family: 'Raleway', sans-serif ;
}
.header {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 120px;
}

.main-table-title {
    display: flex;
    justify-content: space-between;
    align-items: end;
}

.btn-add {

    width: 150px;
}

div.table-row {
    appearance: none;
}

.hand td{
    cursor: pointer;
}

.col-small {
    width: 50px;
}

.cols-edit-remove {
    width: 40px;
}

.pagination {
    margin-bottom: 1.5rem !important;
}
